* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

body::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 0px;
  height: 0px;
}

body::-webkit-scrollbar {
  width: 4px;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

@font-face {
  font-family: extra-light;
  src: url(/assets/fonts/PlusJakartaSans-ExtraLight.ttf);
}
@font-face {
  font-family: light;
  src: url(/assets/fonts/PlusJakartaSans-Light.ttf);
}
@font-face {
  font-family: regular;
  src: url(/assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: medium;
  src: url(/assets/fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: semi-bold;
  src: url(/assets/fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  font-family: bold;
  src: url(/assets/fonts/PlusJakartaSans-Bold.ttf);
}
@font-face {
  font-family: extra-bold;
  src: url(/assets/fonts/PlusJakartaSans-ExtraBold.ttf);
}
header .topheader {
  background-color: #f9f9f9;
}
header .topheader .alltop {
  padding: 2px 0;
  align-items: center;
}
header .topheader .alltop .lefttop {
  margin-left: 11px;
}
header .topheader .alltop .lefttop i {
  color: #4d4d4d;
  font-size: 19px;
  margin-right: 3px;
}
header .topheader .alltop .lefttop select {
  height: 44px;
  border: none;
  padding: 0px;
  font-family: regular;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #f9f9f9;
  outline: none;
}
header .topheader .alltop .lefttop select .langs {
  font-family: light;
  font-size: 12px;
  background-color: #f9f9f9;
}
header .topheader .alltop .righttop a {
  font-family: semi-bold;
  font-size: 16px;
  color: #303844;
  text-decoration: none;
}
header .topheader .alltop .righttop a i {
  margin-right: 3px;
}
header .topheader .alltop .righttop a i:hover {
  animation: phone 0.3s linear;
}
@keyframes phone {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(25deg);
  }
  45% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
header .bottomheader {
  padding: 10px 0;
  width: 100%;
}
header .bottomheader .allbottom {
  align-items: center;
}
header .bottomheader .allbottom .left_nav .logo {
  margin-right: 17px;
}
header .bottomheader .allbottom .left_nav .logo img {
  display: inline-block;
  width: 159px;
  height: 40px;
  margin-bottom: 20px;
}
header .bottomheader .allbottom .left_nav a {
  color: #124f2e;
  text-decoration: none;
  font-size: 16px;
  font-family: regular;
  padding: 0 0 0 8px;
  margin-right: 7px;
}
header .bottomheader .allbottom .left_nav a:hover {
  text-decoration: underline;
}
header .bottomheader .allbottom .right_nav a {
  color: #124f2e;
  text-decoration: none;
  font-size: 16px;
  font-family: medium;
  padding: 0 0 0 10px;
  margin-left: 25px;
}
header .bottomheader .allbottom .right_nav img {
  margin-right: 3px;
}
header .bottomheader .allbottom .right_nav .responsive {
  display: none;
}
header .bar_menu {
  display: none;
}

main {
  overflow: hidden;
}
main .slider_wrapper {
  position: relative;
}
main .slider_wrapper .slider {
  flex-wrap: nowrap;
  transition: 0.5s;
}
main .slider_wrapper .slider .singleslide {
  overflow: hidden;
  color: #124F2E;
  height: 600px;
}
main .slider_wrapper .slider .singleslide .slide {
  position: relative;
}
main .slider_wrapper .slider .singleslide .slide .about {
  position: absolute;
  top: 105px;
  left: 0%;
}
main .slider_wrapper .slider .singleslide .slide .about h2 {
  font-family: bold;
  color: #fcfcfa;
  font-size: 50px;
  margin-bottom: 25px;
}
main .slider_wrapper .slider .singleslide .slide .about p {
  font-family: medium;
  color: #fcfcfa;
  font-size: 20px;
  max-width: 550px;
  margin-bottom: 40px;
}
main .slider_wrapper .slider .singleslide .slide .about a {
  padding: 16px 32px;
  font-size: 17px;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  position: relative;
}
main .slider_wrapper .slider .singleslide .slide .image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 560px;
  position: relative;
}
main .slider_wrapper .slider .singleslide .slide .image .little_img {
  width: 575px;
  position: absolute;
  left: 185%;
  top: 260px;
  transform: translate(-50%, 0%);
}
main .slider_wrapper .slider .singleslide .slide .image .big_img {
  content: "";
  display: block;
  width: 884px;
  height: 884px;
  background-repeat: no-repeat;
  background-position: 50%;
  position: absolute;
  left: 185%;
  top: 0px;
  transform: translate(-50%, 0%);
}
main .slider_wrapper .mini_image {
  display: inline-block;
  position: absolute;
  top: 75%;
  z-index: 1;
}
main .slider_wrapper .mini_image .dot_img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid white;
  opacity: 0.5;
}
main .slider_wrapper .mini_image .active-dot {
  opacity: 1;
}
main .index_special {
  padding: 70px 0;
}
main .index_special .all_special .uni_header {
  padding: 0 0 32px;
  display: flex;
  justify-content: space-between;
}
main .index_special .all_special .uni_header .left_side h2 {
  font-family: semi-bold;
  font-size: 40px;
  color: #124f2e;
}
main .index_special .all_special .uni_header .left_side p {
  font-size: 20px;
  color: #124F2E;
  font-family: regular;
}
main .index_special .all_special .uni_header .link a {
  display: inline-block;
  height: auto;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #0B955E;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px currentColor;
  border-radius: 6px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
main .index_special .all_special .uni_header .link a:hover {
  color: white;
  background-color: #0B955E;
}
main .index_special .all_special .special_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 24px 24px;
}
main .index_special .all_special .special_grid .single-special-box {
  border-radius: 15px;
  padding: 45px 35px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .index_special .all_special .special_grid .single-special-box .sp_title {
  padding: 0 0 24px;
  font-weight: 700;
  font-family: bold;
  line-height: 1.31;
  color: white;
  letter-spacing: 1px;
}
main .index_special .all_special .special_grid .single-special-box .sp_title h3 {
  font-size: 32px;
}
main .index_special .all_special .special_grid .single-special-box .date {
  padding: 0 0 24px;
  font-weight: 600;
  font-size: 20px;
  font-family: regular;
  line-height: 1.3;
  color: white;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn {
  position: relative;
  display: inline-block;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn:hover .options {
  display: block;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn .select-trigger {
  cursor: pointer;
  margin-top: 60px;
  display: inline-block;
  height: auto;
  padding: 16px 20px 16px 50px;
  font-family: bold;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: currentColor;
  background-color: #fff;
  text-decoration: none;
  background-image: url(/assets/images/special/button_download.svg);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  border-radius: 10px;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn .select-trigger i {
  color: black;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn .options {
  border-radius: 10px;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn .options a {
  padding: 10px;
  display: block;
  border-radius: 10px;
  padding-right: 160px;
  text-decoration: none;
  font-family: semi-bold;
  font-size: 14px;
}
main .index_special .all_special .special_grid .single-special-box .ctlg_btn .options a:hover {
  background-color: #fffddb;
}
main .index_special .all_special .mobile_link {
  display: none;
}
main .index_advantages .all_advantages .uni_header {
  padding: 0 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .index_advantages .all_advantages .uni_header .left_side h2 {
  font-family: semi-bold;
  font-size: 40px;
  color: #124f2e;
}
main .index_advantages .all_advantages .uni_header .left_side p {
  font-size: 20px;
  color: #124F2E;
  font-family: regular;
}
main .index_advantages .all_advantages .advantages_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 24px 24px;
  padding: 0 0 100px;
}
main .index_advantages .all_advantages .advantages_grid .single-advantage-box {
  padding: 24px;
  box-shadow: inset 0 0 0 1px #ebebeb;
  border-radius: 16px;
}
main .index_advantages .all_advantages .advantages_grid .single-advantage-box h3 {
  font-size: 65px;
  font-family: medium;
  padding: 0 0 80px;
  margin: 0;
  color: #124F2E;
}
main .index_advantages .all_advantages .advantages_grid .single-advantage-box .text p {
  color: #9e9e9e;
  font-size: 26px;
  font-family: medium;
  margin: 0;
}
main .index_advantages .all_advantages .advantages_grid .single-advantage-box .icon {
  display: inline-flex;
}
main .index_advantages .all_advantages .advantages_three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 24px 24px;
  padding: 0 0;
  text-align: center;
}
main .index_advantages .all_advantages .advantages_three .single-advantage {
  cursor: pointer;
}
main .index_advantages .all_advantages .advantages_three .single-advantage:hover .image {
  transform: translateY(-3px);
}
main .index_advantages .all_advantages .advantages_three .single-advantage:hover h3 {
  transform: translateY(-9px);
}
main .index_advantages .all_advantages .advantages_three .single-advantage .image {
  padding: 0 0 24px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
main .index_advantages .all_advantages .advantages_three .single-advantage .image img {
  max-width: 100%;
}
main .index_advantages .all_advantages .advantages_three .single-advantage h3 {
  font-family: semi-bold;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  color: #124F2E;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
main .become_index {
  margin-top: 50px;
}
main .become_index .career_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-color: rgb(5, 66, 42);
  border-radius: 16px;
  position: relative;
}
main .become_index .career_box .image {
  position: absolute;
  left: -120px;
  top: 90px;
  transform: rotate(-6deg);
}
main .become_index .career_box .image + .image {
  left: auto;
  right: -120px;
  top: 90px;
  transform: rotate(6deg);
}
main .become_index .career_box .image img {
  border-radius: 16px;
}
main .become_index .career_box .inner {
  width: 100%;
  max-width: 660px;
  text-align: center;
}
main .become_index .career_box .inner h2 {
  font-family: bold;
  padding: 0 0 20px;
  font-weight: 800;
  font-size: 64px;
  line-height: 1.19;
  text-align: center;
  color: #fff;
}
main .become_index .career_box .inner h2 strong {
  color: #88D723;
}
main .become_index .career_box .inner p {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0 40px;
  font-family: semi-bold;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #fff;
}
main .become_index .career_box .inner .link a {
  display: inline-block;
  padding: 16px 32px;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.4;
  text-align: center;
  color: #05422A;
  background-color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
main .become_index .career_box .inner .link a:hover {
  color: #fff;
  background-color: #88D723;
}

footer .top_footer {
  width: 100%;
  flex-wrap: wrap;
  padding: 50px 0;
}
footer .top_footer .footer_sections {
  width: 50%;
}
footer .top_footer .footer_sections .footer_section h4 {
  color: #124F2E;
  font-size: 20px;
  font-family: bold;
  padding: 0 0 24px;
  margin: 0;
}
footer .top_footer .footer_sections .footer_section .subset {
  text-align: left;
}
footer .top_footer .footer_sections .footer_section .subset a {
  display: block;
  font-family: regular;
  font-size: 16px;
  color: #778b80;
  padding: 0 0 12px;
  text-decoration: underline;
  transition: 0.3s;
}
footer .top_footer .footer_sections .footer_section .subset a:hover {
  text-decoration: none;
}
footer .top_footer .for_email h2 {
  min-height: 52px;
  padding: 0 0 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #124F2E;
}
footer .top_footer .for_email .subscribe_form {
  position: relative;
}
footer .top_footer .for_email .subscribe_form form input {
  display: block;
  width: 100%;
  min-width: 420px;
  height: 64px;
  padding: 0 150px 0 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #124F2E;
  background-color: #fff;
  border: 1px solid #DEE1E2;
  border-radius: 8px;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
footer .top_footer .for_email .subscribe_form form button {
  display: inline-block;
  height: 48px;
  min-width: 124px;
  padding: 0 20px;
  border: none;
  font-family: semi-bold;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #0B955E;
  border-radius: 6px;
  position: absolute;
  right: 2%;
  top: 8px;
  cursor: pointer;
}
footer .bottom_footer {
  border-top: 1px solid #e9e9e9;
  font-family: regular;
  flex-wrap: wrap;
  padding: 23px 0;
}
footer .bottom_footer .copywrite {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.85;
  color: #778B80;
}
footer .bottom_footer .copywrite p {
  margin: 0;
}
footer .bottom_footer .creator {
  display: inline-block;
  line-height: 1.85;
  color: #231F20;
}
footer .bottom_footer .creator span {
  font-size: 13px;
}
footer .bottom_footer .creator span img {
  padding: 0 5px;
}
footer .bottom_footer .languages {
  margin-left: 11px;
}
footer .bottom_footer .languages i {
  color: #4d4d4d;
  font-size: 17px;
  margin-right: 3px;
}
footer .bottom_footer .languages select {
  height: 44px;
  border: none;
  padding: 0px;
  font-family: regular;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
footer .bottom_footer .languages select .langs {
  font-family: light;
  font-size: 13.333px;
  background-color: #f9f9f9;
}
footer .bottom_footer .languages select .langs:checked {
  background-color: transparent;
}
footer .bottom_footer .social_media_icons a {
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}
footer .bottom_footer .social_media_icons a i {
  border-radius: 50%;
  font-size: 25px;
  padding: 15px;
  color: #0B955E;
  background-color: #F4FAF5;
  transition: 0.3s;
}
footer .bottom_footer .social_media_icons a i:hover {
  color: white;
  background-color: #0b955e;
}

@media (max-width: 576px) {
  .container {
    max-width: 480px;
    width: 100%;
  }
  header {
    overflow-x: hidden;
  }
  header .topheader {
    display: none;
  }
  header .bottomheader {
    position: relative;
    z-index: 5 !important;
    padding: 5px 0;
  }
  header .bottomheader .left_nav .logo img {
    width: 80% !important;
  }
  header .bottomheader .left_nav .main_nav {
    display: none;
  }
  header .bottomheader .right_nav a {
    display: none;
  }
  header .bottomheader .right_nav .responsive {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select {
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #f9f9f9;
    outline: none;
    display: inline-block;
    background-image: url("/assets/images/icons/Globe_icon_2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  header .bottomheader .right_nav .responsive .responsive_bar {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 4px;
    z-index: 3;
  }
  header .bottomheader .right_nav .responsive em {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #124F2E;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 1px);
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em {
    top: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em + em {
    top: auto;
    bottom: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child {
    width: 0;
    left: calc(50% - 0px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em {
    top: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em + em {
    bottom: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em {
    transform: rotate(135deg);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em + em {
    transform: rotate(225deg);
  }
  header .bottomheader .right_nav .responsive .x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #124F2E;
    display: none;
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active .x {
    display: block;
  }
  header .bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 0px);
    padding: 120px 0 24px !important;
    background-color: #fff;
    background-image: url("/assets/images/responsive/aside_bg.svg");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: fixed;
    left: 100%;
    top: 0px;
    overflow: auto;
    z-index: 4;
    transition: 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .top {
    width: 100%;
  }
  header .bar_menu .top a {
    width: 33.33333%;
    padding: 16px 0;
    text-decoration: none;
    border: 1px solid #e9e9e9;
    text-align: center;
  }
  header .bar_menu .top a img {
    margin: 0;
    width: 22px;
  }
  header .bar_menu .top a span {
    font-family: medium;
    font-size: 15px;
    color: #124F2E;
    padding: 6px 0 0;
  }
  header .bar_menu .middle {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
  header .bar_menu .middle nav a {
    display: block;
    height: auto;
    padding: 10px 0 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #124F2E;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 20px 50%;
    position: relative;
    transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .bottom {
    margin-left: 11px;
  }
  header .bar_menu .bottom i {
    color: #4d4d4d;
    font-size: 19px;
    margin-right: 3px;
  }
  header .bar_menu .bottom select {
    height: 44px;
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 18px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  header .bar_menu .bottom select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  main {
    overflow-x: hidden;
  }
  main .slider_wrapper .mini_img .mini_image {
    top: 87%;
  }
  main .slider_wrapper .mini_img .mini_image img {
    width: 50px !important;
    height: 50px !important;
  }
  main .slider_wrapper .slider .singleslide {
    height: 750px;
  }
  main .slider_wrapper .slider .singleslide h2 {
    font-family: bold;
    font-size: 32px !important;
  }
  main .slider_wrapper .slider .singleslide p {
    font-family: medium;
    font-size: 18px !important;
  }
  main .slider_wrapper .slider .singleslide a {
    font-family: semi-bold;
    padding: 12px 24px !important;
    font-size: 15px !important;
  }
  main .slider_wrapper .slider .singleslide .image .big_img {
    display: none !important;
  }
  main .slider_wrapper .slider .singleslide .image .little_img {
    -o-object-position: right bottom !important;
       object-position: right bottom !important;
    width: 300px !important;
    top: 600px !important;
    left: 70% !important;
  }
  main .index_special {
    padding: 40px 0;
  }
  main .index_special .all_special .uni_header {
    padding: 0;
    display: block;
  }
  main .index_special .all_special .uni_header .left_side h2 {
    font-size: 27px;
    font-family: bold;
  }
  main .index_special .all_special .uni_header .left_side p {
    font-size: 16px;
    max-width: 260px;
  }
  main .index_special .all_special .uni_header .link {
    display: none;
  }
  main .index_special .all_special .special_grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  main .index_special .all_special .special_grid .single-special-box {
    height: 250px;
    padding: 16px 24px 24px;
  }
  main .index_special .all_special .special_grid .single-special-box .sp_title {
    padding: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .sp_title h3 {
    font-size: 24px;
    letter-spacing: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .date span {
    font-size: 16px;
    padding: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn {
    font-size: 14px;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn a {
    margin-top: 85px !important;
    padding: 12px 20px 12px 50px !important;
    font-size: 14px !important;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn .options a {
    padding: 8px !important;
    padding-right: 100px !important;
    font-size: 14px;
    margin: 0 !important;
    text-align: left !important;
  }
  main .index_special .all_special .mobile_link {
    margin-top: 10px;
    display: block;
    z-index: 15;
  }
  main .index_special .all_special .mobile_link a {
    display: block;
    height: auto;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0B955E;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px currentColor;
    border-radius: 6px;
    transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  main .index_special .all_special .mobile_link a:hover {
    color: white;
    background-color: #0B955E;
  }
  main .index_advantages .all_advantages .uni_header {
    padding: 0;
  }
  main .index_advantages .all_advantages .uni_header .left_side h2 {
    font-size: 27px;
    font-family: bold;
  }
  main .index_advantages .all_advantages .uni_header .left_side p {
    font-size: 16px;
    max-width: 260px;
  }
  main .index_advantages .all_advantages .advantages_grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 0 60px;
  }
  main .index_advantages .all_advantages .advantages_grid h3 {
    padding: 0 0 48px !important;
    font-size: 36px !important;
  }
  main .index_advantages .all_advantages .advantages_grid p {
    font-size: 18px !important;
  }
  main .index_advantages .all_advantages .advantages_three {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  main .index_advantages .all_advantages .advantages_three h3 {
    font-size: 16px !important;
  }
  main .become_index .career_box {
    min-height: 300px;
  }
  main .become_index .career_box .image {
    display: none;
  }
  main .become_index .career_box .inner h2 {
    padding: 0 0 16px !important;
    font-size: 30px !important;
  }
  main .become_index .career_box .inner p {
    font-family: medium;
    padding: 0 0 32px !important;
    font-size: 15px !important;
    max-width: 345px;
  }
  main .become_index .career_box .inner .link a {
    font-size: 15px !important;
  }
  footer {
    overflow-x: hidden;
  }
  footer .top_footer .footer_sections {
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer .top_footer .footer_sections .footer_section {
    width: 50%;
  }
  footer .top_footer .footer_sections .footer_section h4 {
    font-size: 18px !important;
  }
  footer .top_footer .footer_sections .footer_section a {
    font-size: 15px !important;
  }
  footer .top_footer .for_email h2 {
    font-family: bold;
    padding: 0;
    margin: 0;
    font-size: 20px !important;
  }
  footer .top_footer .for_email .subscribe_form input {
    min-width: 380px !important;
    height: 60px !important;
  }
  footer .bottom_footer .copywrite {
    order: 4;
    padding: 12px 0 0;
  }
  footer .bottom_footer .languages {
    order: 2;
  }
  footer .bottom_footer .social_media_icons {
    text-align: left !important;
    order: 1;
    margin-bottom: 10px;
  }
  footer .bottom_footer .social_media_icons a i {
    font-size: 18px;
  }
  footer .bottom_footer .creator {
    order: 3;
    font-size: 13px !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 720px;
    width: 100%;
  }
  header {
    overflow-x: hidden;
  }
  header .topheader {
    display: none;
  }
  header .bottomheader {
    position: relative;
    z-index: 5 !important;
    padding: 5px 0;
  }
  header .bottomheader .left_nav .logo img {
    width: 80% !important;
  }
  header .bottomheader .left_nav .main_nav {
    display: none;
  }
  header .bottomheader .right_nav a {
    display: none;
  }
  header .bottomheader .right_nav .responsive {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select {
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #f9f9f9;
    outline: none;
    display: inline-block;
    background-image: url("/assets/images/icons/Globe_icon_2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  header .bottomheader .right_nav .responsive .responsive_bar {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 4px;
    z-index: 3;
  }
  header .bottomheader .right_nav .responsive em {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #124F2E;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 1px);
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em {
    top: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em + em {
    top: auto;
    bottom: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child {
    width: 0;
    left: calc(50% - 0px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em {
    top: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em + em {
    bottom: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em {
    transform: rotate(135deg);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em + em {
    transform: rotate(225deg);
  }
  header .bottomheader .right_nav .responsive .x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #124F2E;
    display: none;
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active .x {
    display: block;
  }
  header .bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 0px);
    padding: 120px 0 24px !important;
    background-color: #fff;
    background-image: url("/assets/images/responsive/aside_bg.svg");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: fixed;
    left: 100%;
    top: 0px;
    overflow: auto;
    z-index: 4;
    transition: 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .top {
    width: 100%;
  }
  header .bar_menu .top a {
    width: 33.33333%;
    padding: 16px 0;
    text-decoration: none;
    border: 1px solid #e9e9e9;
    text-align: center;
  }
  header .bar_menu .top a img {
    margin: 0;
    width: 22px;
  }
  header .bar_menu .top a span {
    font-family: medium;
    font-size: 15px;
    color: #124F2E;
    padding: 6px 0 0;
  }
  header .bar_menu .middle {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
  header .bar_menu .middle nav a {
    display: block;
    height: auto;
    padding: 10px 0 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #124F2E;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 20px 50%;
    position: relative;
    transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .bottom {
    margin-left: 11px;
  }
  header .bar_menu .bottom i {
    color: #4d4d4d;
    font-size: 19px;
    margin-right: 3px;
  }
  header .bar_menu .bottom select {
    height: 44px;
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 18px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  header .bar_menu .bottom select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  main {
    overflow-x: hidden;
  }
  main .slider_wrapper .mini_img .mini_image {
    top: 85%;
  }
  main .slider_wrapper .mini_img .mini_image img {
    width: 55px !important;
    height: 55px !important;
  }
  main .slider_wrapper .slider .singleslide {
    height: 750px;
  }
  main .slider_wrapper .slider .singleslide h2 {
    font-family: bold;
    font-size: 32px !important;
  }
  main .slider_wrapper .slider .singleslide p {
    font-family: medium;
    font-size: 18px !important;
  }
  main .slider_wrapper .slider .singleslide a {
    font-family: semi-bold;
    padding: 12px 24px !important;
    font-size: 15px !important;
  }
  main .slider_wrapper .slider .singleslide .image .big_img {
    display: none !important;
  }
  main .slider_wrapper .slider .singleslide .image .little_img {
    -o-object-position: right bottom !important;
       object-position: right bottom !important;
    width: 450px !important;
    top: 450px !important;
    left: 75% !important;
  }
  main .index_special {
    padding: 40px 0;
  }
  main .index_special .all_special .uni_header {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  main .index_special .all_special .uni_header .left_side h2 {
    font-size: 27px;
    font-family: bold;
  }
  main .index_special .all_special .uni_header .left_side p {
    font-size: 16px;
    max-width: 260px;
  }
  main .index_special .all_special .uni_header .link {
    margin-top: 30px !important;
    display: inline-block;
  }
  main .index_special .all_special .special_grid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  main .index_special .all_special .special_grid .single-special-box {
    height: 270px;
    padding: 16px 24px 24px;
    background-position: 100% 90% !important;
  }
  main .index_special .all_special .special_grid .single-special-box .sp_title {
    padding: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .sp_title h3 {
    font-size: 24px;
    letter-spacing: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .date span {
    font-size: 16px;
    padding: 0;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn {
    font-size: 14px;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn a {
    margin-top: 100px !important;
    padding: 12px 20px 12px 50px !important;
    font-size: 14px !important;
  }
  main .index_special .all_special .special_grid .single-special-box .ctlg_btn .options a {
    padding: 11px !important;
    padding-right: 100px !important;
    font-size: 14px;
    margin: 0 !important;
    text-align: left !important;
  }
  main .index_special .all_special .mobile_link {
    display: none;
  }
  main .index_advantages .all_advantages .uni_header {
    padding: 0;
  }
  main .index_advantages .all_advantages .uni_header .left_side h2 {
    font-size: 27px;
    font-family: bold;
  }
  main .index_advantages .all_advantages .uni_header .left_side p {
    font-size: 16px;
    max-width: 500px;
  }
  main .index_advantages .all_advantages .advantages_grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 0 60px;
  }
  main .index_advantages .all_advantages .advantages_grid h3 {
    padding: 0 0 48px !important;
    font-size: 36px !important;
  }
  main .index_advantages .all_advantages .advantages_grid p {
    font-size: 18px !important;
  }
  main .index_advantages .all_advantages .advantages_three {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  main .index_advantages .all_advantages .advantages_three h3 {
    font-size: 16px !important;
  }
  main .become_index .career_box {
    min-height: 300px;
  }
  main .become_index .career_box .image {
    display: none;
  }
  main .become_index .career_box .inner h2 {
    padding: 0 0 16px !important;
    font-size: 30px !important;
  }
  main .become_index .career_box .inner p {
    font-family: medium;
    padding: 0 0 32px !important;
    font-size: 15px !important;
    max-width: 345px;
  }
  main .become_index .career_box .inner .link a {
    font-size: 15px !important;
  }
  footer {
    overflow-x: hidden;
  }
  footer .top_footer .footer_sections {
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer .top_footer .footer_sections .footer_section {
    width: 50%;
  }
  footer .top_footer .footer_sections .footer_section h4 {
    font-size: 18px !important;
  }
  footer .top_footer .footer_sections .footer_section a {
    font-size: 15px !important;
  }
  footer .top_footer .for_email h2 {
    font-family: bold;
    padding: 0;
    margin: 0;
    font-size: 20px !important;
  }
  footer .top_footer .for_email .subscribe_form input {
    min-width: 380px !important;
    height: 60px !important;
  }
  footer .bottom_footer .copywrite {
    order: 1;
  }
  footer .bottom_footer .languages {
    order: 3;
  }
  footer .bottom_footer .social_media_icons {
    text-align: left !important;
    order: 4;
    margin-bottom: 10px;
  }
  footer .bottom_footer .social_media_icons a i {
    font-size: 18px;
  }
  footer .bottom_footer .creator {
    order: 2;
    font-size: 13px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 950px;
    width: 100%;
  }
  header {
    overflow-x: hidden;
  }
  header .topheader {
    display: none;
  }
  header .bottomheader {
    position: relative;
    z-index: 5 !important;
    padding: 5px 0;
  }
  header .bottomheader .left_nav .logo img {
    width: 80% !important;
  }
  header .bottomheader .left_nav .main_nav {
    display: none;
  }
  header .bottomheader .right_nav a {
    display: none;
  }
  header .bottomheader .right_nav .responsive {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select {
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #f9f9f9;
    outline: none;
    display: inline-block;
    background-image: url("/assets/images/icons/Globe_icon_2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  header .bottomheader .right_nav .responsive .lang_responsive select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  header .bottomheader .right_nav .responsive .responsive_bar {
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 4px;
    z-index: 3;
  }
  header .bottomheader .right_nav .responsive em {
    display: block;
    width: 32px;
    height: 2px;
    background-color: #124F2E;
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 1px);
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em {
    top: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar span em + em + em {
    top: auto;
    bottom: calc(50% - 8px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child {
    width: 0;
    left: calc(50% - 0px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em {
    top: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active em:first-child + em + em {
    bottom: calc(50% - 1px);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em {
    transform: rotate(135deg);
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active_second em:first-child + em + em {
    transform: rotate(225deg);
  }
  header .bottomheader .right_nav .responsive .x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #124F2E;
    display: none;
  }
  header .bottomheader .right_nav .responsive .responsive_bar.active .x {
    display: block;
  }
  header .bar_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 0px);
    padding: 120px 0 24px !important;
    background-color: #fff;
    background-image: url("/assets/images/responsive/aside_bg.svg");
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    position: fixed;
    left: 100%;
    top: 0px;
    overflow: auto;
    z-index: 4;
    transition: 0.45s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .top {
    width: 100%;
  }
  header .bar_menu .top a {
    width: 33.33333%;
    padding: 16px 0;
    text-decoration: none;
    border: 1px solid #e9e9e9;
    text-align: center;
  }
  header .bar_menu .top a img {
    margin: 0;
    width: 22px;
  }
  header .bar_menu .top a span {
    font-family: medium;
    font-size: 15px;
    color: #124F2E;
    padding: 6px 0 0;
  }
  header .bar_menu .middle {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
  header .bar_menu .middle nav a {
    display: block;
    height: auto;
    padding: 10px 0 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: #124F2E;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 20px 50%;
    position: relative;
    transition: 0.15s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  header .bar_menu .bottom {
    margin-left: 11px;
  }
  header .bar_menu .bottom i {
    color: #4d4d4d;
    font-size: 19px;
    margin-right: 3px;
  }
  header .bar_menu .bottom select {
    height: 44px;
    border: none;
    padding: 0px;
    font-family: regular;
    font-size: 18px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
  }
  header .bar_menu .bottom select .langs {
    font-family: light;
    font-size: 12px;
    background-color: #f9f9f9;
  }
  .slider_wrapper .mini_image {
    top: 80%;
  }
  .slider_wrapper .slider .singleslide {
    height: 100%;
  }
  .slider_wrapper .slider .singleslide .about h2 {
    font-size: 32px !important;
  }
  .slider_wrapper .slider .singleslide .about p {
    font-size: 18px !important;
  }
  .slider_wrapper .slider .singleslide .image .big_img {
    left: 115% !important;
  }
  .slider_wrapper .slider .singleslide .image .little_img {
    left: 115% !important;
    max-width: 95% !important;
  }
  .index_special .uni_header h2 {
    font-size: 32px !important;
    font-family: bold;
  }
  .index_special .uni_header p {
    font-size: 18px !important;
    max-width: 500px;
  }
  .index_special .uni_header a {
    padding: 12px 24px;
    font-size: 14px;
  }
  .index_advantages .all_advantages .uni_header {
    padding: 0;
  }
  .index_advantages .all_advantages .uni_header .left_side h2 {
    font-size: 32px !important;
    font-family: bold;
  }
  .index_advantages .all_advantages .uni_header .left_side p {
    font-size: 18px !important;
    max-width: 500px;
  }
  .index_advantages .all_advantages .advantages_grid {
    grid-template-columns: 1fr 1fr !important;
    gap: 16px !important;
    padding: 0 0 60px !important;
  }
  .index_advantages .all_advantages .advantages_grid h3 {
    padding: 0 0 48px !important;
    font-size: 48px !important;
  }
  .index_advantages .all_advantages .advantages_grid p {
    font-size: 21px !important;
  }
  .index_advantages .all_advantages .advantages_three .single-advantage h3 {
    font-size: 18px !important;
  }
  .become_index .career_box {
    min-height: 1px !important;
    padding: 48px 32px;
  }
  .become_index .career_box .image {
    display: none;
  }
  .become_index .career_box .inner h2 {
    padding: 0 0 16px !important;
    font-size: 30px !important;
  }
  .become_index .career_box .inner p {
    font-family: medium;
    padding: 0 0 32px !important;
    font-size: 15px !important;
    max-width: 345px;
  }
  .become_index .career_box .inner .link a {
    font-size: 15px !important;
  }
  footer {
    overflow-x: hidden;
  }
  footer .top_footer .footer_sections {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  footer .top_footer .footer_sections .footer_section {
    width: 25%;
  }
  footer .top_footer .footer_sections .footer_section h4 {
    font-size: 18px !important;
  }
  footer .top_footer .footer_sections .footer_section a {
    font-size: 15px !important;
  }
  footer .top_footer .for_email h2 {
    font-family: bold;
    padding: 0;
    margin: 0;
    font-size: 20px !important;
  }
  footer .top_footer .for_email .subscribe_form input {
    min-width: 380px !important;
    height: 60px !important;
  }
  footer .bottom_footer .copywrite {
    order: 1;
  }
  footer .bottom_footer .languages {
    order: 3;
  }
  footer .bottom_footer .social_media_icons {
    text-align: left !important;
    order: 4;
    margin-bottom: 10px;
  }
  footer .bottom_footer .social_media_icons a i {
    font-size: 30px;
  }
  footer .bottom_footer .creator {
    order: 2;
    font-size: 13px !important;
  }
}/*# sourceMappingURL=style.css.map */